Repository wellcometrust/WellcomeML, pull requests merged in 2021-07, with the labels that each got.

#307 Create plot.py
  .travis.yml
  wellcomeml/viz/visualize_clusters.py
Labels: viz

#319 Fix flake8 action
  .github/workflows/main.yml
Labels: bug

#322 Feature/federica/cluster viz
  setup.py
  wellcomeml/viz/visualize_clusters.py
Labels: viz

#315 Extend tokenizers to accomodate shap text explainer
  tests/test_keras_vectorizer.py
  tests/test_transformers_tokenizer.py
  wellcomeml/ml/keras_vectorizer.py
  wellcomeml/ml/transformers_tokenizer.py
Labels: enhancement
